@model eyect4rails.Classes.Maintenance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Maintenance</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Assigned to
        </dt>

        <dd>
            @Html.ActionLink(Model.Employee.Name + " " + Model.Employee.Surname, "Details", "Employee", new { id = Model.Employee.Id }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tram.Id)
        </dt>

        @if (Model.Tram != null)
            {
            <dd>
                @Html.ActionLink(Model.Tram.Id.ToString(), "Details", "Tram", new { id = Model.Id }, null)
            </dd>
        }
        else
        {
            <dd>Unassigned</dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableDate)
        </dt>

        @if (Model.AvailableDate.Year != 9999)
            {
            <dd>
                @Html.DisplayFor(modelItem => Model.AvailableDate)
            </dd>
        }
        else
        {
            <dd>n/a</dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>
        
        


        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        

    </dl>

@Html.ActionLink("Back to List", "Index")
</div>
