@using eyect4rails.Classes
@using Eyect4RailsWebApp.Models
@model eyect4rails.Classes.Remise

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Remise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>


@foreach (Track track in Model.Tracklist)
{
  

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@track.Id.ToString()</h3>
            </div>
            <div class="panel-body">
                @foreach (Sector sector in track.SectorList)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @if (sector.TramId >= 0)
                            {
                                @Html.ActionLink(sector.TramId.ToString(), "Details", "Tram", new {id = sector.TramId}, null)
                            }
                            else
                            {
                                @Html.ActionLink("No tram found", "Index", "Tram")
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    

}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
