@using eyect4rails.Classes
@using Eyect4RailsWebApp.Models
@model eyect4rails.Classes.Remise

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

@foreach (Track track in Model.Tracklist)
{


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@track.Id.ToString()</h3>
        </div>
        <div class="panel-body">
            @foreach (Sector sector in track.SectorList)
            {
                if (sector.TramId != 0)
                {
                    Tram parkedTram = Model.Tramlist.FirstOrDefault(x => x.Id == sector.TramId);
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                @Html.ActionLink($"Tram {parkedTram.TramNumber}", "Details", "Tram", new { Id = sector.TramId }, null)
                            </p>
                        </div>
                    </div>
                }
                else if (sector.Blocked == true)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                blocked
                            </p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                leeg
                            </p>
                        </div>
                    </div>
                }
            }


        </div>

    </div>


}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
