@using eyect4rails.Classes
@using Eyect4RailsWebApp.Models
@model eyect4rails.Classes.Remise

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

@foreach (Track track in Model.Tracklist)
{


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@track.Id.ToString()</h3>
        </div>
        <div class="panel-body">
            @for (int i = 0; i <= track.Sectors - 1; i++)
            {

                    if (track.SectorList.Count > i)
                    {
                        Sector t = track.SectorList[i];
                        if (t.TramId != null && t.TramId != 0)
                        {
                            Tram parkedTram = Model.Tramlist.FirstOrDefault(x => x.Id == t.TramId);
                            for (int y = 0; y < parkedTram.Length; y++)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <p>@Html.ActionLink($"Tram {parkedTram.TramNumber}", "Details", "Tram", new { Id = t.TramId }, null)</p>
                                    </div>
                                </div>
                            }
                            i = i + parkedTram.Length;
                            if (i >= track.Sectors)
                            {
                                break;
                            }

                        }

                    }
                
                <div class="panel panel-default">
                    <div class="panel-body">

                    </div>
                </div>


            }


        </div>

    </div>


}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
