@using eyect4rails.Classes
@using Eyect4RailsWebApp.Models
@model eyect4rails.Classes.Remise

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Remise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

@foreach (Track track in Model.Tracklist)
{
    <table border="1">
        @foreach (Sector sector in track.SectorList)
        {
            <tr>
                tr
                <td>
                    td
                    @if (sector.TramId >= 0)
                    {
                        @Html.ActionLink(sector.TramId.ToString(), "Details", "Tram", new {id = sector.TramId}, null)
                    }
                    @Html.ActionLink(sector.TramId.ToString(), "Details", "Tram", new {id = sector.TramId}, null)
                </td>
            </tr>
        }
    </table>
<br>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
