@model eyect4rails.Classes.Tram

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RemiseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemiseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TramNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TramNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filthy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filthy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConductorQualified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConductorQualified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*TODO: Uncomment @Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
