@model IEnumerable<eyect4rails.Classes.Tram>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RemiseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TramNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filthy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConductorQualified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RemiseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TramNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filthy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductorQualified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>

<script>
    $.ajax({
        type: 'get', 
        dataType: 'json',
        
        })
</script>
